# Pengantar Python
#### Print the most fenomenal stuff in programming :v

In [3]:
print("Hello World!")
print("maintained by ec2ainun@gmail.com")

Hello World!
maintained by ec2ainun@gmail.com

## OOP di python

In [4]:
class Manusia():
    def __init__(self, name):
        self.name = name
    def say(self):
        print("namaku " + self.name)

class Mahasiswa(Manusia):
    def say(self):
        print("namaku "+self.name + " seorang mahasiswa")

ainun = Mahasiswa("ainun")
ainun.say()

namaku ainun seorang mahasiswa

In [5]:
class Persegi:
    def __init__(self, panjang, lebar):
        self.panjang =panjang
        self.lebar = lebar
    def luasdankeliling(self):
        luas = self.panjang * self.lebar
        keliling = 2 * self.panjang+ 2* self.lebar
        return (luas, keliling)
class TestP:
    if __name__ == '__main__':
        persegiT = Persegi(2,3)
        luas, keliling = persegiT.luasdankeliling()
        print(luas)
        print(keliling)

6
10

## String di Python

In [6]:
s1 = "namaku ainun"
print(s1)

namaku ainun

#### Panjang String

In [7]:
len(s1)

12

#### Mengakses karakter ke-n pada String

In [8]:
s1[0]

'n'

In [9]:
s1[10]

'u'

#### Bersifat Immutable

In [10]:
s1[10] = "n"

TypeError: 'str' object does not support item assignment

#### Penggabungan String

In [11]:
s1+ " najib"

'namaku ainun najib'

#### String tidak bisa digabungkan dengan int

In [12]:
umur = 22
s1 + " najib, umur "+ umur

TypeError: Can't convert 'int' object to str implicitly

#### Int harus diubah ke String

In [13]:
umur = 22
s1 + " najib, umur "+ str(umur)

'namaku ainun najib, umur 22'

## List di python
#### mirip dengan Array, ArrayList, dan Vector di java

In [14]:
l1= [1,2,3, "kata", 4.5]

#### Akses element ke (n+1)

In [15]:
l1[0]

1

In [16]:
l1[3]

'kata'

#### Akses element pada rentang tertentu

In [17]:
l1[1:4]

[2, 3, 'kata']

#### Mengganti nilai pada element (n+1)

In [18]:
l1[0]="satu"
l1[0]

'satu'

#### List 2 Dimensi

In [19]:
l2 =[[1,2],[3,4],[5,6]]

In [20]:
l2[1]

[3, 4]

In [21]:
l2[1][0]

3

#### Panjang List

In [22]:
len(l2)

3

In [23]:
len(l2[1])

2

#### Menambahkan element pada List

In [24]:
l2.append("tambah")
l2

[[1, 2], [3, 4], [5, 6], 'tambah']

## Tuple (python)
#### Merupakan list yang bersifat immutable

In [25]:
t1= (1,2,3, "kata", 4.5)
t1

(1, 2, 3, 'kata', 4.5)

In [26]:
t1[0]

1

#### Bersifat immutable

In [27]:
t1[0]="satu"

TypeError: 'tuple' object does not support item assignment

In [28]:
t1.append("tambah")

AttributeError: 'tuple' object has no attribute 'append'

#### Kegunaan Tuple berfungsi untuk mengembalikan nilai

In [29]:
def operasi(x,y):
    return (x, y, y+x, x*y)

tesOp = operasi(2,3)
tesOp

(2, 3, 5, 6)

In [30]:
nilaix, nilaiy, tambahxy, kalixy = operasi(2,3)
print("nilai x = " + str(nilaix))
print("nilai y = " + str(nilaiy))
print("nilai x + y = " + str(tambahxy))
print("nilai x * y = " + str(kalixy))

nilai x = 2
nilai y = 3
nilai x + y = 5
nilai x * y = 6

## Dictionary (python)
#### Mirip dengan Hashmap di java

In [31]:
nilai = {'aku':9, 'ainun':8, 'najib':8.5}
nilai['aku']

9

In [32]:
nilai.keys()

dict_keys(['najib', 'ainun', 'aku'])

In [33]:
nilai.values()

dict_values([8.5, 8, 9])

## Kondisional If else

In [34]:
if(nilai['aku']%2==0):
    print("Genap")
else:
    print("Ganjil")

Ganjil

In [35]:
if(nilai['aku']%2==0):
    if(nilai['aku'] < 0):
        print("Genap negatif")
    elif(nilai['aku'] < 10):
        print("Genap kurang dari 10")
    else:
        print("Genap lebih dari 10")
else:
    if(nilai['aku'] < 0):
        print("Ganjil negatif")
    elif(nilai['aku'] < 10):
        print("Ganjil kurang dari 10")
    else:
        print("Ganjil lebih dari 10")

Ganjil kurang dari 10

In [36]:
x=0
while x<=nilai['aku']:
    print(x)
    x=x+1

0
1
2
3
4
5
6
7
8
9

## For loop

In [37]:
angka =[1,2,3,4,9,8,7,6,5]
for index in angka:
    print(index)

1
2
3
4
9
8
7
6
5

In [38]:
for index in range(len(angka)):
    print(index)

0
1
2
3
4
5
6
7
8

## List Comprehension
#### Digunakan untuk mengubah list menjadi list lain tanpa menggunakan perulangan,

In [39]:
angkakuadrat = []
for x in angka:
    angkakuadrat.append(x*x)
angkakuadrat

[1, 4, 9, 16, 81, 64, 49, 36, 25]

In [40]:
angkakuadrat2 = [x*x for x in angka]
angkakuadrat2

[1, 4, 9, 16, 81, 64, 49, 36, 25]

## List comprehension in if

In [41]:
angkakuadrat3 =[]
for x in angka:
    if(x%2==0):
        angkakuadrat3.append(x*x)
angkakuadrat3

[4, 16, 64, 36]

In [42]:
angkakuadrat4 =[x*x for x in angka if(x%2==0)]
angkakuadrat4

[4, 16, 64, 36]